:root {
    --background-color1: #b4b4b4;
    --background-color2: #616161;
    --background-color3: #010a38;
    --text-color1: #000000;
    --text-color2: #b4b4b4;
    --text-color3: #3c3c3c;
}
body {
    font-family: "Libre Bodoni", serif;
    background-color: var(--background-color3);
}
/* Navbar */
.navbar-container {
    position: sticky;
    background-color: var(--background-color3);
    top: 0;
    width: auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
}
.hamburger-container {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hamburger {
    opacity: 90%;
    background-color: black;
    width: 25;
    height: 5px;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 1px;
}
/* Color Picker  */
.color-picker-box {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.color-picker-container {
    background-color: var(--background-color2);
    border: 2px solid var(--background-color1);
    border-radius: 15px;
    width: 450px;
    height: 350px;
}
.color-picker-organizer {
    width: 100%;
    height: 100%;
    display: flex;
}
.color-option-text-container {
    width: 70%;
    height: 100%;
    display: grid;
    justify-content: left;
    text-align: left;
}
.color-option-picker-container {
    width: 20%;
    height: 100%;
    margin: 20px auto;
    display: grid;
    justify-content: left;
}
.small-space {
    width: 5%;
    height: 100%;
}    
.color-picker-text {
    padding: 2px;
    text-align: left;
    color: var(--text-color1);
    height: 20px;
    width: 100%;
    border: 1px solid black;
}
.color-picker {
    margin: -4.5px 0;
    text-decoration: none;
    background-color: black;
    width: 35px;
    height: 25px;
    border: transparent;
}
.color-option {
    display: grid;
    margin: 0;
    padding: 0;
    justify-items: right;
}
.color-choice-button {
    width: auto;
}
.navbar-link {
    text-decoration: none;
    color: var(--text-color2);
}
.content-container {
    justify-content: center;
    align-items: center;
}
.resume-container {
    margin: 0 auto;
    width: auto;
    min-width: 400px;
    max-width: 925px;
    padding: 5px;
    background-color: var(--background-color1);
    border-radius: 15px;
    
}
.name-section, .aboutme-text {
    margin: 20px;
}
.company-name {
    text-align: center;
    margin: 10px auto;
    background-color: var(--background-color3);
    color: var(--text-color2);
}
.title-year-container {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}
.experience-container {
    width: 100%;
    text-align: left;
}
.black-seperator {
    height: 5px;
    background-color: #000000;
    width: auto;
}
.show-more-button, .show-less-button {
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    padding: 5px;
    position: relative;
    top: 0px;
    left: 45%;
    transform: translate(-50%, -50%);
    color: var(--text-color2);
    background-color: var(--background-color2);
    border: var(--text-color2) 2px solid;
    border-radius: 15px;
}
/* portfolio styles */
.portfolio-container {
    margin: 0 auto;
    width: auto;
    min-width: 400px;
    max-width: 925px;
    padding: 5px;
    background-color: var(--background-color1);
    border-radius: 15px;
    text-align: left;
    
}
.portfolio-object-text, h1  {
    color: var(--text-color1);
}
.content-selection-description {
    margin: 20px;

}
.content-button-container {
    margin: 0 auto;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content-selection-link {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    background: var(--background-color2);
    color: var(--text-color2);
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 12px;
}
.hidden-portfolio-content-container {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hidden-portfolio-content {
    margin: 0 20px; 
    text-align: left;
}
.portfolio-screenshot {
    width: 100%;
    border-radius: 15px;
    border: 5px solid var(--text-color3);
}
.projects-container {
    margin: 0 auto;
    width: auto;
    min-width: 400px;
    max-width: 925px;
    padding: 5px;
    background-color: var(--background-color1);
    border-radius: 15px;
    text-align: left;
}
.projects-img-container {
    margin: 0 auto;
    background-color: gray;
    text-align: center;
    border: 10px solid #000000;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-content: center;

}
/* Media Queries */
@media screen and (max-width: 600px) {
    .content-selection-link  {
        font-size: 12px;
    }
}
@media screen and (max-width: 900px) {
    .content-selection-link  {
        font-size: 14px;
    }
}